# Proyek Analisis Data: Bike Sharing Dataset

> Add blockquote


- **Nama:** Ikrar Bagaskara
- **Email:** ikrarb95@gmail.com
- **ID Dicoding:** ikrar557

## Menentukan Pertanyaan Bisnis

-  Bagaimana cuaca memengaruhi jumlah peminjaman sepeda?
-  Apakah terdapat perbedaan dalam penggunaan sepeda berdasarkan musim?
-  Siapa yang lebih aktif menggunakan sepeda, pengguna terdaftar atau non-terdaftar setiap tahunnya?
-  Bagaimana pengaruh hari kerja dan hari libur terhadap penggunaan sepeda?

## Import Semua Packages/Library yang Digunakan

In [2]:
# mendefinisikan library yang akan digunakan
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## Data Wrangling

### Gathering Data

_1.1 membaca dataset day.csv yang akan digunakan_

In [3]:
days_df = pd.read_csv('data/day.csv')
days_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

_1.2 membaca dataset hour.csv yang akan digunakan_

In [4]:
hours_df = pd.read_csv('data/hour.csv')
hours_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

**Insight:**
- xxx
- xxx

### Assessing Data

_2.1 memeriksa tipe data di tiap kolom dataset day.csv dan hour.csv_

In [5]:
days_df.info()
hours_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

_2.2 memeriksa jumlah missing value pada dataset day.csv_

In [6]:
days_df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

_2.3 memeriksa jumlah missing value pada dataset hour.csv_

In [7]:
hours_df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

_2.4 memeriksa jumlah duplikasi pada dataset day.csv dan hour.csv_

In [8]:
print("Jumlah duplikasi dataset 'day.csv': ", days_df.duplicated().sum())
print("Jumlah duplikasi dataset 'hour.csv: ", hours_df.duplicated().sum())

Jumlah duplikasi dataset 'day.csv':  0
Jumlah duplikasi dataset 'hour.csv:  0

_2.5 memeriksa nilai statistik yang terdapat pada dataset day.csv_

In [9]:
days_df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

_2.6 memeriksa nilai statistik yang terdapat pada dataset hour.csv_

In [10]:
hours_df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

**Insight:**
- xxx
- xxx

### Cleaning Data

_3.1 menghapus kolom `instant` dan `workingday` pada dataset day.csv dan hour.csv, karena kolom `instant` berisi **indexing** yang tidak relevan untuk dilakukan analisis data. Dan kolom `workingday` memiliki arti yang kurang lebih sama dengan kolom `weekday` sehingga bisa kita gunakan kolom `weekday` saja._

In [11]:
days_df.drop(['instant', 'workingday'], axis=1, inplace=True)
hours_df.drop(['instant', 'workingday'], axis=1, inplace=True)

_3.2 mengubah tipe data pada kolom `dteday` yang dari **object** ke **datetime**_

In [12]:
days_df['dteday'] = pd.to_datetime(days_df['dteday'])
hours_df['dteday'] = pd.to_datetime(hours_df['dteday'])

_3.3 mengubah tipe data `int` menjadi `category` pada kolom 'season', 'mnth', 'holiday', 'weekday', 'weathersit'_

In [13]:
columns = ['season', 'mnth', 'holiday', 'weekday', 'weathersit']
 
for column in columns:
    days_df[column] =  days_df[column].astype("category")
    hours_df[column] =  hours_df[column].astype("category")

_3.4 mengganti nama kolom pada dataset day.csv agar lebih mudah dipahami_

In [14]:
days_df.rename(columns={
    'yr':'year',
    'mnth':'month',
    'weathersit':'weather_situation', 
    'windspeed':'wind_speed',
    'cnt':'count',
    'hum':'humidity'
    }, inplace=True)

days_df.head(1)

,dteday,season,year,month,holiday,weekday,weather_situation,temp,atemp,humidity,wind_speed,casual,registered,count
0,2011-01-01,1,0,1,0,6,2,0.344167,0.363625,0.805833,0.160446,331,654,985

_3.5 mengganti nama kolom pada dataset hour.csv agar lebih mudah dipahami_

In [15]:
hours_df.rename(columns={
    'yr':'year',
    'hr':'hours',
    'mnth':'month',
    'weathersit':'weather_situation',
    'windspeed':'wind_speed',
    'cnt':'count',
    'hum':'humidity'
    }, inplace=True)

hours_df.head(1)

,dteday,season,year,month,hours,holiday,weekday,weather_situation,temp,atemp,humidity,wind_speed,casual,registered,count
0,2011-01-01,1,0,1,0,0,6,1,0.24,0.2879,0.81,0.0,3,13,16

_3.6 mengkonversi nilai pada dataset menjadi nilai yang lebih mudah dipahami dan memiliki konteks jelas_

_3.6.1 mengubah nilai pada kolom `season`_

In [16]:
season_mapping = {
    1: 'springer', 
    2: 'summer',
    3: 'fall',
    4: 'winter'
}

days_df['season'] = days_df['season'].astype('category').cat.rename_categories(season_mapping)
hours_df['season'] = hours_df['season'].astype('category').cat.rename_categories(season_mapping)
days_df.head()

,dteday,season,year,month,holiday,weekday,weather_situation,temp,atemp,humidity,wind_speed,casual,registered,count
0,2011-01-01,springer,0,1,0,6,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2011-01-02,springer,0,1,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,2011-01-03,springer,0,1,0,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,2011-01-04,springer,0,1,0,2,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,2011-01-05,springer,0,1,0,3,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

_3.6.2 mengubah nilai pada kolom `month`_

In [17]:
month_mapping = {
    1: 'january', 
    2: 'february', 
    3: 'march', 
    4: 'april', 
    5: 'may', 
    6: 'june', 
    7: 'july', 
    8: 'august', 
    9: 'september', 
    10: 'october', 
    11: 'november', 
    12: 'december'
}

days_df['month'] = days_df['month'].astype('category').cat.rename_categories(month_mapping)
hours_df['month'] = hours_df['month'].astype('category').cat.rename_categories(month_mapping)

_3.6.3 mengubah nilai pada kolom `weekdays`_

In [18]:
weekday_mapping = {
    0: 'sunday', 
    1: 'monday', 
    2: 'tuesday', 
    3: 'wednesday', 
    4: 'thursday', 
    5: 'friday', 
    6: 'saturday'
}

days_df['weekday'] = days_df['weekday'].astype('category').cat.rename_categories(weekday_mapping)
hours_df['weekday'] = hours_df['weekday'].astype('category').cat.rename_categories(weekday_mapping)

_3.6.4 mengubah nilai pada kolom `weather_situation`_

In [19]:
weather_mapping = {
    1: 'clear', 
    2: 'cloudy', 
    3: 'light_rain', 
    4: 'heavy_rain'
}

days_df['weather_situation'] = days_df['weather_situation'].astype('category').cat.rename_categories(weather_mapping)
hours_df['weather_situation'] = hours_df['weather_situation'].astype('category').cat.rename_categories(weather_mapping)

_3.6.5 mengubah nilai pada kolom `year`_

In [20]:
year_mapping = {
    0: 2011, 
    1: 2012
}

days_df['year'] = days_df['year'].replace(year_mapping)
hours_df['year'] = hours_df['year'].replace(year_mapping)

_3.6.6 menghitung nilai pada kolom `humidity`_

In [21]:
days_df['humidity'] = days_df['humidity']*100
hours_df['humidity'] = hours_df['humidity']*100

_3.7 membuat kolom baru untuk menyimpan kategori dari hari, apakah **weekend** atau **weekdays**_

In [22]:
def get_category_days(weekday_mapping):
    if weekday_mapping in ["saturday", "sunday"]:
        return "weekend"
    else: 
        return "weekdays"

days_df["category_days"] = days_df["weekday"].apply(get_category_days)
hours_df["category_days"] = hours_df["weekday"].apply(get_category_days)

_3.8 membuat kolom baru untuk menyimpan kategory dari `humidity` atau kelembapan_

In [23]:
def classify_humidity(humidity):
    if humidity < 45:
        return "terlalu kering"
    elif humidity >= 45 and humidity < 65:
        return "ideal"
    else:
        return "terlalu lembab"

days_df["humidity_category"] = days_df["humidity"].apply(classify_humidity)
hours_df["humidity_category"] = hours_df["humidity"].apply(classify_humidity)

**Insight:**
- xxx
- xxx

## Exploratory Data Analysis (EDA)

### Explore Data hour.csv

_4.1 melihat ringkasan statistik dari dataset day.csv_

In [ ]:
hours_df.describe(include='all')

,dteday,season,year,month,holiday,weekday,weather_situation,temp,atemp,humidity,wind_speed,casual,registered,count,category_days,humidity_category
count,731,731,731.000000,731,731.0,731,731,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731,731
unique,NaN,4,NaN,12,2.0,7,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3
top,NaN,fall,NaN,january,0.0,sunday,clear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,weekdays,ideal
freq,NaN,188,NaN,62,710.0,105,463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,521,334
mean,2012-01-01 00:00:00,NaN,2011.500684,NaN,NaN,NaN,NaN,0.495385,0.474354,62.789406,0.190486,848.176471,3656.172367,4504.348837,NaN,NaN
min,2011-01-01 00:00:00,NaN,2011.000000,NaN,NaN,NaN,NaN,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000,NaN,NaN
25%,2011-07-02 12:00:00,NaN,2011.000000,NaN,NaN,NaN,NaN,0.337083,0.337842,52.000000,0.134950,315.500000,2497.000000,3152.000000,NaN,NaN
50%,2012-01-01 00:00:00,NaN,2012.000000,NaN,NaN,NaN,NaN,0.498333,0.486733,62.666700,0.180975,713.000000,3662.000000,4548.000000,NaN,NaN
75%,2012-07-01 12:00:00,NaN,2012.000000,NaN,NaN,NaN,NaN,0.655417,0.608602,73.020850,0.233214,1096.000000,4776.500000,5956.000000,NaN,NaN
max,2012-12-31 00:00:00,NaN,2012.000000,NaN,NaN,NaN,NaN,0.861667,0.840896,97.250000,0.507463,3410.000000,6946.000000,8714.000000,NaN,NaN
std,NaN,NaN,0.500342,NaN,NaN,NaN,NaN,0.183051,0.162961,14.242910,0.077498,686.622488,1560.256377,1937.211452,NaN,NaN

_4.2 menghitung pengaruh cuaca jumlah peminjaman sepeda_

In [52]:
hours_df.groupby(by='weather_situation').agg({
    'count': 'sum'
}).reset_index()

/var/folders/lm/ytx_hwqs48z736wkx85xxhq00000gn/T/ipykernel_4276/2725615058.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  hours_df.groupby(by='weather_situation').agg({

  weather_situation    count
0             clear  2338173
1            cloudy   795952
2        light_rain   158331
3        heavy_rain      223

_4.3 menghitung pengaruh perbedaan musim dalam penggunaan sepeda_

In [56]:
hours_df.groupby(by='season').agg({
    'count': 'sum',
    'temp': 'mean',
    'humidity': 'mean',
    'wind_speed': 'mean'
}).reset_index()

/var/folders/lm/ytx_hwqs48z736wkx85xxhq00000gn/T/ipykernel_4276/3038330927.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  hours_df.groupby(by='season').agg({

     season    count      temp   humidity  wind_speed
0  springer   471348  0.299147  58.134842    0.215107
1    summer   918589  0.544663  62.702200    0.203410
2      fall  1061129  0.706410  63.316726    0.171593
3    winter   841613  0.423138  66.712429    0.170819

### Explore Data day.csv

_4.4 melihat ringkasan statistik dari dataset hour.csv_

In [42]:
days_df.describe(include="all")

,dteday,season,year,month,holiday,weekday,weather_situation,temp,atemp,humidity,wind_speed,casual,registered,count,category_days,humidity_category
count,731,731,731.000000,731,731.0,731,731,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731,731
unique,NaN,4,NaN,12,2.0,7,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3
top,NaN,fall,NaN,january,0.0,sunday,clear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,weekdays,ideal
freq,NaN,188,NaN,62,710.0,105,463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,521,334
mean,2012-01-01 00:00:00,NaN,2011.500684,NaN,NaN,NaN,NaN,0.495385,0.474354,62.789406,0.190486,848.176471,3656.172367,4504.348837,NaN,NaN
min,2011-01-01 00:00:00,NaN,2011.000000,NaN,NaN,NaN,NaN,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000,NaN,NaN
25%,2011-07-02 12:00:00,NaN,2011.000000,NaN,NaN,NaN,NaN,0.337083,0.337842,52.000000,0.134950,315.500000,2497.000000,3152.000000,NaN,NaN
50%,2012-01-01 00:00:00,NaN,2012.000000,NaN,NaN,NaN,NaN,0.498333,0.486733,62.666700,0.180975,713.000000,3662.000000,4548.000000,NaN,NaN
75%,2012-07-01 12:00:00,NaN,2012.000000,NaN,NaN,NaN,NaN,0.655417,0.608602,73.020850,0.233214,1096.000000,4776.500000,5956.000000,NaN,NaN
max,2012-12-31 00:00:00,NaN,2012.000000,NaN,NaN,NaN,NaN,0.861667,0.840896,97.250000,0.507463,3410.000000,6946.000000,8714.000000,NaN,NaN
std,NaN,NaN,0.500342,NaN,NaN,NaN,NaN,0.183051,0.162961,14.242910,0.077498,686.622488,1560.256377,1937.211452,NaN,NaN

_4.5 menghitung siapa yang lebih aktif dalam peminjaman sepeda, pengguna terdaftar atau non terdaftar setiap tahunnya_

In [54]:
hours_df.groupby(by='year').agg({
    "registered": ["sum"],
    "casual": ["sum"]
}).reset_index()

   year registered  casual
               sum     sum
0  2011     995851  247252
1  2012    1676811  372765

_4.6 menghitung pengaruh hari kerja dan hari libur terhadap penggunaan sepeda_

In [50]:
hours_df.groupby(by='category_days').agg({
    'count': 'sum'
}).reset_index()

  category_days    count
0      weekdays  2370845
1       weekend   921834

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1: Bagaimana cuaca memengaruhi jumlah peminjaman sepeda?

### Pertanyaan 2: Apakah terdapat perbedaan dalam penggunaan sepeda berdasarkan musim?

### Pertanyaan 3: Siapa yang lebih aktif menggunakan sepeda, pengguna terdaftar atau non-terdaftar setiap tahunnya?

### Pertanyaan 4: Bagaimana pengaruh hari kerja dan hari libur terhadap penggunaan sepeda?

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2